@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,600&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
/*=========================================the navbar========================== */
@font-face {
    font-family: 'CAAirconaW00-Plain';
    src: url('../font/CAAirconaW00-Plain.woff2') format('woff2'),
        url('../font/CAAirconaW00-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  
  /*=========================================the navbar========================== */
  .container {
    position: relative;
    margin-top: 100px;
  }
  .container img {
    display: block;
    width: 100%;
  }
  nav {
    position: relative;
    z-index: 10;
    left: 0;
    right: 0;
    padding: 0 2%;
    height: 50px;
    background-color: #131720cc;
  }
  nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-family: 'CAAirconaW00-Plain';
  }
  nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav .links li {
    list-style: none;
  }
  
  /* ======================new---------- */
  nav .links a::after{
    content: '';
    display: block;
    width: 0;
    height: 2.1px;
    margin-top: 3px;
    background-color: #036ecc;
    transition: width .3s;
  }
  nav .links a:hover::after{
    width: 100%;
  }
  a.active::after{
    content: '';
    width: 100%;
    height: 2.1px;
    margin-top: 3px;
    background-color: #036ecc;
    transition: width .3s;
  }
  /* ===================================== */
  
  nav .links a {
    /* display: block; */
    margin-bottom: 1.3em;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* nav .links a:hover {
    padding-left: 9px;
    font-weight: 600;
    color: #fff;
  } */
  
  #nav-toggle {
    position: absolute;
    top: -100px;
  }
  nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
  }
  nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
  }
  /* ====================navbar media query================== */
  @media screen and (max-width: 768px) {
    nav .logo {
      float: none;
      width: auto;
      justify-content: flex-start;
    }
    nav .links {
      float: none;
      position: fixed;
      z-index: 9;
      left: 0;
      right: 0;
      top: 50px;
      bottom: 100%;
      width: auto;
      height: auto;
      flex-direction: column;
      /* justify-content: space-evenly; */
      background-color: rgba(0,0,0,.8);
      /* overflow: hidden; */
      overflow-x: hidden;
      box-sizing: border-box;
      transition: all .5s ease-in-out;
    }
    nav .links a {
      font-size: 14px;
      margin-top: -10px;
      line-height: 0px;
    }
    nav :checked ~ .links {
      bottom: 0;
    }
    nav .icon-burger {
      display: block;
    }
    nav :checked ~ .icon-burger .line:nth-child(1) {
      transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(3) {
      transform: translateY(-10px) rotate(-225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2) {
      opacity: 0;
    }
    .mobile img{
      display:inline-block;
      min-width: 100%;
      max-height: 100vh;
    }
  }
  
  
  
  /* ==================the navbar ends====================================== */
/* ==================the navbar ends====================================== */
 h1{
    font-weight: 600;
    color:  #036ecc;
    border-bottom: 2px #131720 solid;
    line-height: 100px;
    display: inline-block;
    /* width: 20px; */
	margin-top: 7%;
  text-align: center;
  font-size: 45px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  margin-bottom: 15%;
    /* max-width: ; */
    /* background-image: linear-gradient(to right, #014785 0%, #036ecc 100%); */
}
.box{
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
	max-width: 315px;
	height: 300px;
    text-align: center;
    perspective: 50em;
    transition: all 0.2s ease-out;
    color: #000;
    width: 100%;
    -webkit-box-shadow: 1px 1px 7px 0px #036ecc7a;
-moz-box-shadow:    1px 1px 7px 0px #036ecc6e;
box-shadow:         1px 1px 7px 0px #036ecc70;
}
.box img{
    max-width: 100%;
    vertical-align: top;
}
figcaption img{
    width: 80px;
}
.box figcaption{
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.box h2,
.box h4{
    margin: 0;
}
/* .box h2{
    font-weight: 600;
    color: white;
} */
.box h4{
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10%;
    color: white;
}
.box:after{
    background-image: linear-gradient(to right, #01478586 0%, #036eccc2 100%);
    position: absolute;  
    content: '';
    display: block;
    top:20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    transition: all 0.4s ease-in-out;
    transform: rotateX(-90deg);
    transform-origin: 50% 50%;
    opacity: 0;
}
.box:hover figcaption,
.box .hover figcaption{
    transform: translateY(-50%);
    opacity: 1;
    transition-delay: 0.2s;
}
.box:hover::after, 
.box.hover::after{
    transform: rotateX(0);
    opacity: 0.9;
}
figcaption .logo{
  font-family: 'CAAirconaW00-Plain';
  font-size: 30px;
  color: #fff;
}

/* ===========responsive============== */
@media (max-width: 991px) {
    .wrapper{
      grid-template-columns: auto;
      grid-gap: 10px;
      margin-bottom: 10%;
    }
    .box{
        min-width: 300px;
        max-width: 230px;
    }
    
  }


  /* =====================================footer starts=========================== */

.container2{
	max-width: 1170px;
    margin:auto;
    text-align: start;
}
.row1{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #131720;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #036ecc;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
  transition: all 0.3s ease;
  margin-left: -40px;
}
.footer-col ul li a:hover{
	color: #036ecc;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:#036ecc;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #036ecc;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*************...........................footer End*****************/

  