@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*  {
  width: 100vw;
  height: 200%;
 overflow-x: hidden;
  
} */

#mainsection{
height: 100vh;

}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #036ecc;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  padding: 25px 80px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav h5 img {
  width: 20%;
  cursor: pointer;
}

nav ul {
  list-style: none;
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
  /* padding:0 40px; */
  width: 90px;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.search {
  height: 27px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(253, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search i {
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.side_indicator {
  height: 70%;
  top: 15%;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
}

.line1 {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #afbad3;
  opacity: 0.7;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}

.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textwrapper {
  width: 60%;
  position: relative;
  height: 40%;
}
.text {
  padding-left: 300px;
  padding-right: 100px;
}

.text h4 {
  font-size: 87px;
  font-weight: 700;
  color: white;
  position: relative;
  margin: 0;
  line-height: 70px;
  
}
#title {
  overflow: hidden;
  height: 70px;
  /* padding: -5px, 0; */
  display: flex;
  width: auto;
  /* line-height: 70px; */
  flex-direction: column;
  justify-content: flex-start;
  /* margin-bottom: 20px; */
  /* background-color: yellowgreen; */
  position: relative;
  
}

#description {
  overflow: hidden;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#description p {
  color: white;
  font-size: 14px;
  max-height: 75px;
  opacity: 0.8;
  position: relative;
}

.btn {
  width: 150px;
  background-color: #036ecc;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 45px;
  justify-content: space-evenly;
  cursor: pointer;
}

.btn p {
  color: white;
  font-size: 18px;
}

.btn i {
  color: white;
}

/* end of text section================ */

.glide {
  width: 40%;
}

.glide_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: default;
}


.slide {
  height: 380px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 40px; */
  flex-shrink: 0;
}

.slider-image {
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.controls div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.7; */
  transition: all 0.5s;
}

.controls div:active {
  transform: scale(0.6);
}

.controls i {
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.glide__slide--active .slider-image {
  height: 400px;
  margin-left: 10px;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide p {
  color: white;
  font-size: 14px;
}

.rating {
  display: flex;
  width: 60px;
  padding: 8px 0;
  justify-content: space-between;
}

/* ===========media query============================ */

@media only screen and (max-width: 1600px) {
  nav {
    padding: 25px 80px;
  }
  .side_indicator {
    width: 200px;
  }
  .textwrapper {
    width: 50%;
  }
  .glide {
    width: 50%;
  }
  .slide {
    height: 350px;
    width: 220px;

    margin-right: 40px;
  }

  .slider-image {
    height: 250px;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

/* ============= */
@media only screen and (max-width: 1300px) {
  nav {
    padding: 25px 40px;
  }
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
  .slide {
    height: 340px;
    width: 200px;
    margin-right: 40px;
  }

  .slider-image {
    height: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .side_indicator {
    width: 120px;
  }
  .text {
    padding-left: 120px;
  }
  .content {
    flex-direction: column;
  }
  .textwrapper {
    padding-top: 30%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
  }
  .glide {
    width: 100%;
    padding-left: 120px;
    padding-top: 40px;
  }
  .btn {
    margin-top: 30px;
  }
  .slide {
    height: 300px;
    width: 200px;
  }
  .slider-image {
    height: 220px;
  }
  .slide p {
    font-size: 12px;
  }

}
/* ================================the about section========================= */


.abt-us{
  height: 191vh;
  background-color: #F1F5F9;
}

.abtText{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 
.abtText h1{
  margin-top:10%;
  font-size: 50px;
  margin-bottom: 2%;
  color: #036ecc;
   /* color: linear-gradient(to right, #014785 0%, #036ecc 100%); */
}


/* ===============the wavy css curves================ */


.wave {
  position: static;
  max-width: 100%;
  height: 50%;
  margin-top: -6%;
}

svg {
  overflow: visible;
}

svg path {
  animation: waveAnim 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s
}

svg path:nth-child(3) {
  animation-delay: 3s
}

svg path:nth-child(4) {
  animation-play-state: paused;
}



.e, .f, ellipse {
   -webkit-animation: circle 2s alternate infinite;
  -moz-animation: circle 2s alternate infinite;
  animation: circle 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes circle {
  0% {
    -webkit-transform: translate(0px,-30px);
    -moz-transform: translate(0px,-30px);
    transform: translate(0px,-30px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px);
  }
}


@keyframes waveAnim {
  0% {
    d: path("M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z");
  }
  
  25% {
    d: path("M0,350.663s148.337,33.83,297.67,40.942S563.078,335.719,800.2,364.831c320.261,32.024,310.21,50,538.757,9.664C1429.069,350.16,1600,400,1600,400V574.151H0Z");
  }
  
  50% {
    d: path("M0,369.663s218.337,55.83,297.67,40.942S563.078,335.719,754.2,364.831c210.261,32.024,310.21,80,528.757,9.664C1429.069,320,1600,384.7,1600,384V574.200H0Z");
  }
  
  75% {
    d: path("M0,340.663s148.337,55.83,297.67,20.942S563.078,335.719,700.2,364.831c210.261,32.024,310.21,46.069,548.757,9.664C1429.069,350.16,1600,340,1600,300V574.200H0Z");
  }
  
  100% {
    d: path("M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z");
  }
}
/* ====================end of wave =================================== */

/* =====================end of about section============================= */



/* =======================steps=========================================== */
.steps{
  padding: 150px auto;
  width: 80vw;
  position: relative;
  left: 10%;
}

.process-wrapper {
	margin:auto;
  max-width:80%;
  text-align: center;
}

#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px  #036eccbb;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active1:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
  background-image: linear-gradient(to right, #014785 0%, #036ecc 100%);
}


#progress-bar-container li {
	list-style:none;
	float:left;
	width:20%;
	text-align:center;
	color: #036ecc9b;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}
#progress-bar-container li.active1, #progress-bar-container li:hover {
	color:#014785;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
  background: #036ecc;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}
#progress-bar-container li:hover:after {
	background: #014785;
}

#progress-bar-container li.active:after {
	background: #036ecc;
}

#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: rgba(1, 11, 53, 0.384);
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	/* background: #207893;	 
  background: linear-gradient(to right, #207893 0%,#2ea3b7 100%);  */
  background-image: linear-gradient(to right, #014785 0%, #036ecc 100%);
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
  background-image: linear-gradient(to right, #014785 0%, #036ecc 100%);
	border-radius: 4px;
}
#progress-content-section .section-content {
	padding:30px 40px;
  text-align:center;
  /* color: #ffffff; */
}

#progress-content-section .section-content h2 {
	font-size:23px;
	text-transform:uppercase;
	color:#fff;
  letter-spacing:1px;
  padding-bottom: 3%;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#fff;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active1 {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

/* =======================end of steps====================== */
/* ======================choose us section =============================== */
.choose-us{
  height: 100vh;
  background-color: #F1F5F9;
  /* background-color: #036ecc; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.choose-us h1{
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 50px;
  color: #036ecc;
}
.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 250px 250px 250px 250px; /*Make the grid smaller than the container*/
  grid-gap: 30px;
  grid-template-rows: 300px;
  /* background-color: #2196F3; */
  background-image: linear-gradient(to right, #014785 0%, #036ecc 100%);
  padding: 30px;
  border-radius: 5px;
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  /* font-size: 30px; */
  background-color: #F1F5F9;
}
.grid-container > div i{
  font-size: 70px;
  color: #014785;
  padding-top: 10%;
}
.grid-container > div h3{
  font-size: 17px;
  /* width: 50%; */
  color:#036ecc;
  padding-top: 8%;
  text-align: center;
  padding-bottom: 2%;
}
/* ========================================testimonial========================== */


