@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/*  {
  width: 100vw;
  height: 200%;
 overflow-x: hidden;
  
} */

#mainsection{
height: 100vh;

}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #036ecc;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  padding: 25px 80px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav h5 img {
  width: 20%;
  cursor: pointer;
}

nav ul {
  list-style: none;
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
  /* padding:0 40px; */
  width: 90px;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 500;
}

.search {
  height: 27px;
  width: 150px;
  border-radius: 50%;
  background-color: rgb(253, 250, 250);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search i {
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.side_indicator {
  height: 70%;
  top: 15%;
  left: 0;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  justify-content: space-evenly;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #afbad3;
  opacity: 0.7;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}

.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textwrapper {
  width: 60%;
  position: relative;
  height: 40%;
}
.text {
  padding-left: 300px;
  padding-right: 100px;
}

.text h4 {
  font-size: 87px;
  font-weight: 700;
  color: white;
  position: relative;
  margin: 0;
  line-height: 70px;
  
}
#title {
  overflow: hidden;
  height: 70px;
  /* padding: -5px, 0; */
  display: flex;
  width: auto;
  /* line-height: 70px; */
  flex-direction: column;
  justify-content: flex-start;
  /* margin-bottom: 20px; */
  /* background-color: yellowgreen; */
  position: relative;
  
}

#description {
  overflow: hidden;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#description p {
  color: white;
  font-size: 14px;
  max-height: 75px;
  opacity: 0.8;
  position: relative;
}

.btn {
  width: 150px;
  background-color: #036ecc;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  border-radius: 8px;
  margin-top: 45px;
  justify-content: space-evenly;
  cursor: pointer;
}

.btn p {
  color: white;
  font-size: 18px;
}

.btn i {
  color: white;
}

/* end of text section================ */

.glide {
  width: 40%;
}

.glide_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  cursor: default;
}


.slide {
  height: 380px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-right: 40px; */
  flex-shrink: 0;
}

.slider-image {
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.controls {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
}

.controls div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0.7; */
  transition: all 0.5s;
}

.controls div:active {
  transform: scale(0.6);
}

.controls i {
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.glide__slide--active .slider-image {
  height: 400px;
  margin-left: 10px;
}

.slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide p {
  color: white;
  font-size: 14px;
}

.rating {
  display: flex;
  width: 60px;
  padding: 8px 0;
  justify-content: space-between;
}

/* ===========media query============================ */

@media only screen and (max-width: 1600px) {
  nav {
    padding: 25px 80px;
  }
  .side_indicator {
    width: 200px;
  }
  .textwrapper {
    width: 50%;
  }
  .glide {
    width: 50%;
  }
  .slide {
    height: 350px;
    width: 220px;

    margin-right: 40px;
  }

  .slider-image {
    height: 250px;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

/* ============= */
@media only screen and (max-width: 1300px) {
  nav {
    padding: 25px 40px;
  }
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
  .slide {
    height: 340px;
    width: 200px;
    margin-right: 40px;
  }

  .slider-image {
    height: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .side_indicator {
    width: 120px;
  }
  .text {
    padding-left: 120px;
  }
  .content {
    flex-direction: column;
  }
  .textwrapper {
    padding-top: 30%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
  }
  .glide {
    width: 100%;
    padding-left: 120px;
    padding-top: 40px;
  }
  .btn {
    margin-top: 30px;
  }
  .slide {
    height: 300px;
    width: 200px;
  }
  .slider-image {
    height: 220px;
  }
  .slide p {
    font-size: 12px;
  }

}
/* ================================the about section========================= */
.abt-us{
  height: 90vh;
  background-color: #f8f1f1;
}

.abtText{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 
.abtText h1{
  margin-top:6%;
  font-size: 70px;
  margin-bottom: 2%;
  color: #036ecc;
}


/* ===============the wavy css curves================ */


.wave {
  position: static;
  max-width: 100%;
  height: 50%;
  margin-top: -9.9%;
}

svg {
  overflow: visible;
}

svg path {
  animation: waveAnim 7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

svg path:nth-child(2) {
  animation-delay: 1s
}

svg path:nth-child(3) {
  animation-delay: 3s
}

svg path:nth-child(4) {
  animation-play-state: paused;
}



.e, .f, ellipse {
   -webkit-animation: circle 2s alternate infinite;
  -moz-animation: circle 2s alternate infinite;
  animation: circle 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes circle {
  0% {
    -webkit-transform: translate(0px,-30px);
    -moz-transform: translate(0px,-30px);
    transform: translate(0px,-30px);
  }
  100% {
    -webkit-transform: translate(0px,0px);
    -moz-transform: translate(0px,0px);
    transform: translate(0px,0px);
  }
}


@keyframes waveAnim {
  0% {
    d: path("M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z");
  }
  
  25% {
    d: path("M0,350.663s148.337,33.83,297.67,40.942S563.078,335.719,800.2,364.831c320.261,32.024,310.21,50,538.757,9.664C1429.069,350.16,1600,400,1600,400V574.151H0Z");
  }
  
  50% {
    d: path("M0,369.663s218.337,55.83,297.67,40.942S563.078,335.719,754.2,364.831c210.261,32.024,310.21,80,528.757,9.664C1429.069,320,1600,384.7,1600,384V574.200H0Z");
  }
  
  75% {
    d: path("M0,340.663s148.337,55.83,297.67,20.942S563.078,335.719,700.2,364.831c210.261,32.024,310.21,46.069,548.757,9.664C1429.069,350.16,1600,340,1600,300V574.200H0Z");
  }
  
  100% {
    d: path("M0,369.663s148.337,33.83,297.67,20.942S563.078,335.719,754.2,364.831c310.261,32.024,310.21,46.069,528.757,9.664C1429.069,350.16,1600,384.7,1600,384V574.151H0Z");
  }
}
/* ====================end of wave =================================== */

/* =====================end of about section============================= */


/* ======================choose us section =============================== */
.choose-us{
  height: 110vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* =======================steps======================================================================================================= */
.steps{
  height: 50%;
  width: 60%;
  background-color: #036ecc;
}


 .progress_inner #step-5:checked + div + div + div + div > .box_base,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_base,

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_base,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_base,

  .progress_inner
  #step-1:checked
  + input
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_base {
  top: 50%;
  left: 0px;
  opacity: 1;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_item,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_item,

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_item,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_item,

  .progress_inner
  #step-1:checked
  + input
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_item {
  top: -30px;
  left: 0px;
  opacity: 0;
}

 .progress_inner #step-5:checked + div + div + div + div > .box_lid,
 .progress_inner #step-4:checked + input + div + div + div + div > .box_lid,

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_lid {
  top: -20px;
  left: 0px;
  opacity: 0;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_item,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_item,

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_item {
  top: -10px;
  left: 0px;
  opacity: 1;
}

 .progress_inner #step-5:checked + div + div + div + div > .box_item,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_item,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_item {
  top: 10px;
  left: 0px;
  opacity: 1;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_lid,
 .progress_inner #step-4:checked + input + div + div + div + div > .box_lid,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_lid {
  top: -1px;
  left: 0px;
  opacity: 1;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_ribbon,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_ribbon,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_ribbon {
  top: 70%;
  left: 0px;
  opacity: 0;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_bow,
 .progress_inner #step-4:checked + input + div + div + div + div > .box_bow,

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  + div
  > .box_bow {
  top: 0px;
  left: 0px;
  opacity: 0;
}

 .progress_inner #step-5:checked + div + div + div + div > .box_ribbon,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_ribbon {
  top: 50%;
  left: 0px;
  opacity: 1;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_bow,

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  + div
  > .box_bow {
  top: -10px;
  left: 0px;
  opacity: 1;
}

 .progress_inner #step-5:checked + div + div + div + div > .box_tag {
  top: 10px;
  left: 20px;
  opacity: 1;
}
 .progress_inner #step-5:checked + div + div + div + div > .box_string {
  top: 10px;
  left: 20px;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

 .progress_inner__step:before,
 .progress_inner,
 .progress_inner__status .box_base,
 .progress_inner__status .box_item,
 .progress_inner__status .box_ribbon,
 .progress_inner__status .box_bow,
 .progress_inner__status .box_bow__left,
 .progress_inner__status .box_bow__right,
 .progress_inner__status .box_tag,
 .progress_inner__status .box_string {
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  width: 100%;
  margin-top: 10%;
  /* width: 90%; */
}

 .progress_inner__bar,
 .progress_inner__bar--set {
  height: 10px;
  left: 10%;
  background: repeating-linear-gradient(
    45deg,
    #07c951,
    #f5f6f7 4px,
    #1f8bc5 4px,
    #919090 10px
  );
  transition: width 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
  border-radius: 6px;
  width: 0;
  position: relative;
  z-index: -1;
}

 .progress_inner__step:before {
  width: 30px;
  height: 30px;
  color: #036ecc;
  background: white;
  line-height: 30px;
  border: 3px solid #a6cde2;
  font-size: 16px;
  bottom:8px;
  border-radius: 100%;
  transition: all 0.4s;
  cursor: pointer;
  pointer-events: none;
}

 .progress_inner__step {
  width: 20%;
  font-size: 12px;
  padding: 0 10px;
  transition: all 0.4s;
  float: left;
  text-align: center;
  position: relative;
}
 .progress_inner__step label {
  padding-top: 50px;
  top: -25px;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}
 .progress_inner__step:hover {
  color: white;
}
 .progress_inner__step:hover:before {
  color: white;
  background: #1ea4ec;
}

 .progress_inner {
  height: 95%;
  width: 80%;
}
 .progress_inner #step-5:checked + div {
  width: 80%;
}
 .progress_inner #step-5:checked + div + div + div > .tab:nth-of-type(5) {
  opacity: 1;
  top: 0;
}
 .progress_inner #step-5:checked + div + div + div + div {
  right: 10%;
}
 .progress_inner #step-4:checked + input + div {
  width: 60%;
}

  .progress_inner
  #step-4:checked
  + input
  + div
  + div
  + div
  > .tab:nth-of-type(4) {
  opacity: 1;
  top: 0;
}
 .progress_inner #step-4:checked + input + div + div + div + div {
  right: 30%;
}
 .progress_inner #step-3:checked + input + input + div {
  width: 40%;
}

  .progress_inner
  #step-3:checked
  + input
  + input
  + div
  + div
  + div
  > .tab:nth-of-type(3) {
  opacity: 1;
  top: 0;
}
 .progress_inner #step-3:checked + input + input + div + div + div + div {
  right: 50%;
}
 .progress_inner #step-2:checked + input + input + input + div {
  width: 20%;
}

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  > .tab:nth-of-type(2) {
  opacity: 1;
  top: 0;
}

  .progress_inner
  #step-2:checked
  + input
  + input
  + input
  + div
  + div
  + div
  + div {
  right: 70%;
}
 .progress_inner #step-1:checked + input + input + input + input + div {
  width: 0%;
}

  .progress_inner
  #step-1:checked
  + input
  + input
  + input
  + input
  + div
  + div
  + div
  > .tab:nth-of-type(1) {
  opacity: 1;
  top: 0;
}

  .progress_inner
  #step-1:checked
  + input
  + input
  + input
  + input
  + div
  + div
  + div
  + div {
  right: 90%;
}
 .progress_inner__step:nth-of-type(1):before {
  content: "1";
}
 .progress_inner__step:nth-of-type(2):before {
  content: "2";
}
 .progress_inner__step:nth-of-type(3):before {
  content: "3";
}
 .progress_inner__step:nth-of-type(4):before {
  content: "4";
}
 .progress_inner__step:nth-of-type(5):before {
  content: "5";
}
 .progress_inner__bar--set {
  width: 80%;
  top: -6px;
  background: #70afd0;
  position: relative;
  z-index: -2;
}
 .progress_inner__tabs .tab {
  opacity: 0;
  position: absolute;
  top: 40px;
  text-align: center;
  margin-top: 80px;
  box-shadow: 0px 2px 1px #80b7d5;
  padding: 30px;
  background: white;
  border-radius: 10px;
  transition: all 0.2s;
}
 .progress_inner__tabs .tab h1 {
  margin: 0;
}
 .progress_inner__tabs .tab p {
  font-weight: 400;
  opacity: 0.8;
}
 .progress_inner__status {
  width: 40px;
  height: 40px;
  top: -80px;
  transition: right 800ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  position: absolute;
}
 .progress_inner__status div {
  opacity: 0;
  transition: all 600ms cubic-bezier(0.915, 0.015, 0.3, 1.005);
  transition-delay: 300ms;
}
 .progress_inner__status div {
  position: absolute;
}
 .progress_inner__status .box_base {
  background: repeating-linear-gradient(
    45deg,
    #986c5d,
    #986c5d 2px,
    #775144 2px,
    #775144 4px
  );
  width: 36px;
  height: 40px;
  z-index: 1;
  border-radius: 1px;
}
 .progress_inner__status .box_lid {
  width: 40px;
  height: 13.3333333333px;
  background: #775144;
  z-index: 2;
  border-radius: 1px;
  top: 0;
}
 .progress_inner__status .box_item {
  width: 20px;
  height: 20px;
  background: #be69d2;
  z-index: 0;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
 .progress_inner__status .box_ribbon {
  width: 10px;
  height: 42px;
  background: #ee0f29;
  z-index: 4;
  border-radius: 1px;
}
 .progress_inner__status .box_bow__left,
 .progress_inner__status .box_bow__right {
  width: 6px;
  height: 10px;
  background: #be0c21;
  position: absolute;
  z-index: 3;
  opacity: 1;
  border-radius: 1px;
}
 .progress_inner__status .box_bow {
  top: -6px;
  z-index: 1;
  transition-delay: 500ms;
}
 .progress_inner__status .box_bow__left {
  left: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
 .progress_inner__status .box_bow__right {
  left: -4px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
 .progress_inner__status .box_tag {
  width: 20px;
  height: 10px;
  background: #487ac7;
  z-index: 4;
  -webkit-transform: rotate(-10deg) translateX(-40px) translateY(0px);
  transform: rotate(-10deg) translateX(-40px) translateY(0px);
  border-radius: 2px;
  transition-delay: 500ms;
}
 .progress_inner__status .box_string {
  width: 17px;
  height: 2px;
  background: #343434;
  z-index: 4;
  -webkit-transform: rotate(-39deg) translateX(-22px) translateY(-12px);
  transform: rotate(-39deg) translateX(-22px) translateY(-12px);
}
 .progress_inner input[type="radio"] {
  display: none;
}
/* =========================================================steps========================================================= */